body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.box {
    height: 150px;
    background-color: white;
    width: 150px;
    margin: 10px;
    margin-left: 90px;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px black;
    animation: slide .3s linear;
}

@keyframes slide {
    100% {
        transform: rotate(360deg);
    }

}

i {
    margin: 45px;
    font-size: 50px;

}

#first {
    animation: roll 2s linear infinite .7s;
}

@keyframes roll {
    100% {
        transform: rotate(360deg);
    }

}

#three {
    animation: roll1 2s linear infinite .7s;

}

@keyframes roll1 {
    0% {
        transform: translateX(-60px);

    }

    25% {
        transform: translateX(0px);


    }

    75% {
        transform: translateX(0px);

    }

    100% {
        transform: translateX(60px);

    }

}

#second {
    animation: roll2 2s linear infinite .7s;
}

@keyframes roll2 {
    0% {
        font-size: 50px;

    }

    25% {
        font-size: 70px;


    }

    75% {
        font-size: 70px;

    }

    100% {
        font-size: 50px;

    }

}

.inbox {
    height: 35px;
    width: 35px;
    border: 4px solid black;
    border-radius: 50%;
    border-bottom-color: red;
    border-left-color: red;
    margin: 45px;
    animation: roll3 1.3s linear infinite .7s;
}

@keyframes roll3 {
    100% {
        transform: rotate(360deg);
    }

}

#four {
    animation: roll4 1.3s linear infinite .7s;

}

@keyframes roll4 {
    0% {
        color: red;

    }

    70% {

        color: red;

    }

    100% {

        color: black;
    }

}



#five {
    animation: roll6 1.3s linear infinite .7s;

}

@keyframes roll6 {
    0% {
        background: linear-gradient(to left, black 30%, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }

    60% {
        background: linear-gradient(to left, rgb(0, 255, 0) 10%, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    70% {
        background: linear-gradient(to left, rgb(0, 255, 0) 30%, rgb(0, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to left, rgb(0, 255, 0) 30%, rgb(0, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }

}

#six {
    animation: roll5 2s linear infinite .7s;
    opacity: 0;
    position: relative;
    top: 59px;
}

@keyframes roll5 {
    0% {
        transform: translateX(-70px);
        opacity: 0;
    }

    9% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(70px);
        opacity: 0;

    }

}

#seven {
    animation: roll8 4s linear infinite .7s;
}

@keyframes roll8 {
    100% {
        transform: rotate(360deg);
    }

}

#eight {

    font-size: 35px;
    position: relative;
    bottom: 40px;
    animation: roll9 1s ease-in infinite .7s;
}

@keyframes roll9 {
    0% {
        transform: translateY(0px);

    }

    20% {
        transform: translateY(113px);
    }

}
#nine{
    position: relative;
    top: 77px;
    font-size: 35px;
    animation: roll10 3s linear infinite .7s;
}
@keyframes roll10{
    0%{
        transform: translateX(-78px);
    }
    20%{
        transform: translateX(-40px);
    }
    40%{
        transform: translateX(-40px);
    }
    60%{
        transform: translateX(40px);
    }
    80%{
        transform: translateX(40px);
        opacity: 1;
    }
    98%{
        transform: translateX(75px);
        opacity: 1;
    }
    100%{
        transform: translateX(80px);
        opacity: 0;
    }
    
}